*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  /*max-inline-size: 1440px;*/
  margin: 0 auto;
  max-inline-size: 1440px;
  font-family: "Georgia", serif;
  display: flex;
  justify-content: center; /* Центрирует хедер по горизонтали */
  align-items: center; /* Центрирует элементы по вертикали */
  flex-direction: column;
  background-color: #fff9ec;
}

/* main {
  max-width: 100%;
}
*/



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

#header-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
}

.logo {
  padding: 28px 18px 28px 30px;
  line-height: 22px;
  font-family: "Georgia", serif;
  font-size: 22px;
  letter-spacing: 0.13em;
  font-weight: 400;
}

.logo::after {
  content: "|"; /* Добавляем вертикальную черточку */
  margin-left: 18px; /* Отступы для черточки */
  color: #000; /* Цвет черточки */
  font-size: 25px; /* Размер черточки */
}

.menu {
  padding-top: 29px;
  padding-bottom: 30px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style: none;
  gap: 23px;
}

.list-item-button {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.13em;
  background: none;
  border: none;
  padding: 0px;
  font-family: "Georgia", serif;
}

.address {
  background: none;
  border: none;
  display: flex;
  padding-top: 19px;
  padding-bottom: 19px;
  gap: 18px;
  padding-right: 31px;
}

.social-icon {
  width: 21px;
  height: 21px;
  text-decoration: none;
  margin-top: 11px;
}

.button-enter {
  background: none;
  background-color: #221009;
  color: white;
  font-family: "Georgia", serif;
  font-size: 22px;
  line-height: 23px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 44px;
  letter-spacing: 0.13em;
  margin-left: 18px;
}

.section-about {
  display: flex;
  justify-content: space-between;
  color: #fff9ec;
  font-family: "Sturkopf", serif;
  padding: 41px 118px 38px 118px;
  max-width: 100%;
}

.background-color {
  background-color: #221009;
  background-size: cover;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 547px;
  gap: 35px;
  padding-top: 32px;
}

.photos {
  width: 100%;
  height: 100%;
}

.about-tittle {
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.24em;
  font-weight: 400;
}

.tittle-bottom {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.13em;
  font-weight: 100;
  padding-top: 25px;
}

.button-about {
  background: none;
  background-color: #fff9ec;
  color: #221009;
  font-family: "Sturkopf", serif;
  font-size: 22px;
  line-height: 22px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 12px 44px;
  letter-spacing: 0.13em;
  width: 200px;
}

.section-about-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 9px 30px 16px 30px;
}

.guild {
  width: 83px;
  height: 83px;
  margin-top: 3px;
}

.tubar {
  width: 109px;
  height: 56px;
  margin-top: 19px;
}

.fin {
  width: 241px;
  height: 78px;
}

.mgimo {
  width: 110px;
  height: 83px;
  margin-top: 6px;
}

.sin {
  width: 269px;
  height: 42px;
  margin-top: 27px;
  padding-left: 3px;
}

.olimp {
  width: 75px;
  height: 83px;
  margin-top: 6px;
}

.section-buttons {
  margin: 62px 118px 46px 118px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 29px;
  column-gap: 20px;
}

.teaching {
  border: none;
  border-radius: 15px;
  background-color: #221009;
  color: white;
  font-family: "Georgia", serif;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  display: flex;
  word-wrap: break-word;
  padding: 26px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.section-news {
  display: flex;
  flex-direction: column;
  gap: 71px;
  margin: 92px 118px 102px 118px;
  align-items: center;
  position: relative;
}

.news-about-text {
  font-family: "Georgia", serif;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 17px;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.news-list-item {
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: white;
  padding: 36px 30px 71px 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.button-read-more {
  position: absolute;
  bottom: 22px;
  right: 30px;
  border-radius: 15px;
  font-family: "Georgia", serif;
  background-color: #fff9ec;
  padding: 12px 66px 12px 31px;
  box-shadow: 4px 4px 10px rgba(55, 52, 52, 0.25);
  border: 1px solid rgba(34, 16, 9, 0.4);
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.13em;
  font-weight: 400;
}

.button-read-more::after {
  content: ""; /* Стрелка, можно использовать символ или сделать через градиент */
  background-image: url(assets/8175efbd9d506e7533d7.svg);
  width: 25px;
  height: 15px;
  position: absolute;
  right: 15px; /* Позиция изображения стрелки */
  bottom: 16px;
}

.news-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Georgia", serif;
}

.news-data {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.13em;
  font-weight: 700;
}

.news-name {
  font-size: 17px;
  line-height: 36px;
  letter-spacing: 0.13em;
  font-weight: 700;
}

.news-info {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.14em;
  font-weight: 400;
  align-self: flex-end;
  margin-top: auto;
  padding-bottom: 10px;
}

.news-main-photo {
  width: 323px;
  height: 216px;
  margin-top: 34px;
}

#footer-container {
  background-color: #221009;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-left: 141px;
  padding-right: 118px;
  padding-bottom: 10px;
}

.logo-footer {
  line-height: 22px;
  font-family: "Georgia", serif;
  font-size: 22px;
  letter-spacing: 0.13em;
  font-weight: 400;
  padding-top: 58px;
}

.footer-style {
  color: #fff9ec;
}

button a {
  text-decoration: none; 
}

@media (width>=1024px) {
}

@media (width<=1440px) {
  main {
    max-width: 100%;
  }
}
@media (width<=1280px) {
  .section-buttons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width<=1010px) {
  .section-buttons {
    grid-template-columns: 1fr 1fr;
  }
}

.new {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.under-header {
  background-color: #221009;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 28px;
}

.button-return {
  display: flex;
  gap: 11px;
  align-items: center;
  border-radius: 15px;
  font-family: "Georgia", serif;
  background-color: #fff9ec;
  padding: 10px 18px;
  box-shadow: 4px 4px 10px rgba(55, 52, 52, 0.25);
  border: 1px solid rgba(34, 16, 9, 0.4);
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  font-weight: 400;
}

.new {
  margin: 40px 118px 102px 118px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-name {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.13em;
  font-weight: 700;
}

.new-name-data {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.13em;
  font-weight: 700;
}

.new-container {
  margin-top: 15px;
  font-size: 17px;
  line-height: 36px;
  letter-spacing: 0.1em;
  font-weight: 700;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 36px 88px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.new-photo-change {
  max-width: 688px;
}


/*# sourceMappingURL=news.5a120345.css.map*/